---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <style>
      html {
        scrollbar-gutter: stable;
      }
    </style>
  </head>
  <body class="flex flex-col h-svh">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>
